div{
  height:20px;
  width:20px;
  float:left;
}
.black{
  background:black;
}
.red{
  background:red
}
#board{
  width:160px
}

.redPiece{
  border-radius: 20px;
  background-color: red
}

.blackPiece{
  border-radius: 20px;
  background-color: black
}
